.cont{
    width: 100%;
    min-height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    display: grid;
    align-content: center;
}

.sepRedirector{
    height: fit-content;
}

.sepRedirector h1{
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgb(0, 0, 0);
}

.sepRedirector p{
    word-break: keep-all;
    font-size: 20px;
    text-shadow: 5px 1px 5px rgb(0 0 0);
    font-family: Cabin;
}

p{
    user-select: none;
}

h2{
    font-size: xx-large;
}

.sepRedirector span{
    color: wheat;
    user-select: none;
    text-shadow: 1px 3px 10px rgba(245, 222, 179, 0.5);
}

.skillTCont{
    display: flex;
    justify-content: center;
}

.twoSecDiv{
    display: grid;
    margin: 20px;
}