body{
    padding: 0;
}

.cont{
    width: 100%;
    min-height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    display: grid;
    align-content: center;
}

.sepRedirector{
    height: fit-content;
}

.sepRedirector h1{
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgb(0, 0, 0);
    top: 0;
}

.sepRedirector input{
    width: 80px;
    height: 80px;
}

.sepRedirector input:hover, :focus, :active{
    mix-blend-mode: overlay;
}

h2{
    font-size: xx-large;
}