@font-face {
    font-family: 'SourceSerif';
    src: url(../Fonts/SourceSerifPro-Regular.ttf)
}

@font-face {
    font-family: 'Calibri';
    src: url(../Fonts/calibri.ttf)
}

@font-face {
    font-family: 'BoldCalibri';
    src: url(../Fonts/calibrib.ttf)
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url(../Images/BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
}

div.MainContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 81, 81, .1);
    text-align: center;
    transition: .3s;
    color: #a7a7a7;
    position: fixed;
    margin-top: 80px;
}

p.MainHeader {
    color: white;
    font-size: 35px;
    font-family: BoldCalibri;
}

p.MainBody {
    font-size: 25px;
    font-family: Calibri;
    user-select: none;
}


#MC {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 81, 81, .1);
    text-align: center;
    transition: .3s;
    color: #a7a7a7;
    position: fixed;
    margin-top: 80px;
}

#Icon {
    background-image: url(../Images/Mail.png);
    position: relative;
    transition: .3s;
    margin-top: -30px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 17%;
}

    #Icon:hover {
        background-image: url(../Images/Mail-Opened.png);
    }

    #Icon:hover > #Menu {
        height: 90px;
        left: -100%;
        width: 250px;
    }

    #Icon:hover #Content {
        display: flex;
    }

#Menu {
    width: max-content;
    height: 50px;
    background: -moz-linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    background: linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007282",endColorstr="#094979",GradientType=1);
    text-align: center;
    transition: .3s;
    color: #a7a7a7;
    position: relative;
    border-radius: 5px;
    top: 80px;
    font-size: 25px;
}

#Content {
    color: white;
    font-family: Calibri;
    display: none;
    outline: 5px;
    position: relative;
    top: 5px;
    padding-left: 38%;
    margin-top: 15px;
    text-decoration: none;
}

#Icon1 {
    background-image: url(../Images/Phone.png);
    position: relative;
    transition: .3s;
    margin-top: -30px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 17%;
    margin-top: 125px;
}

    #Icon1:hover > #Menu1 {
        height: 50px;
        left: -100%;
        width: 250px;
    }

    #Icon1:hover #Content1 {
        display: flex;
    }

#Menu1 {
    width: max-content;
    height: 40px;
    background: -moz-linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    background: linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007282",endColorstr="#094979",GradientType=1);
    text-align: center;
    transition: .3s;
    color: #a7a7a7;
    position: relative;
    border-radius: 5px;
    top: 80px;
    font-size: 25px;
}

#Content1 {
    color: white;
    font-family: Calibri;
    display: none;
    outline: 5px;
    position: relative;
    top: 9px;
    padding-left: 17%;
    margin-top: 20px;
    text-decoration: none;
}

#Icon2 {
    background-image: url(../Images/Telegram.png);
    position: relative;
    transition: .3s;
    margin-top: -30px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 17%;
    margin-top: 125px;
}

    #Icon2:hover > #Menu2 {
        height: 100px;
        left: -100%;
        width: 250px;
    }

    #Icon2:hover #Content2 {
        display: flex;
    }

#Menu2 {
    width: max-content;
    height: 40px;
    background: -moz-linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    background: linear-gradient(90deg, rgba(0, 114, 130, 1) 0%, rgba(9, 73, 121, 1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007282",endColorstr="#094979",GradientType=1);
    text-align: center;
    transition: .3s;
    color: #a7a7a7;
    position: relative;
    border-radius: 5px;
    top: 80px;
    font-size: 25px;
}

#Content2 {
    color: white;
    font-family: Calibri;
    display: none;
    outline: 5px;
    position: relative;
    top: 9px;
    padding-left: 17%;
    margin-top: 20px;
    text-decoration: none;
}
