.cont{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    display: grid;
    align-content: center;
}


.sepRedirector h1{
    top: 25%;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgb(0, 0, 0);
}

h2{
    font-size: xx-large;
}

.aRedirector{
    text-decoration: none;
    width: 70vw;
    left: 50vw;
    position: relative;
    margin-left: -35vw;
    background-size: 1280px 715px;
}

#projectsP{
    background-image: url("../Images/Projects.jpg");
}

#projectsP:hover, #projectsP:active{
    background-image: url("../Images/Projects.gif");
    background-position: bottom;
}

#aboutP{
    background-image: url("../Images/AboutMe.jpg");
}

#aboutP:hover, #aboutP:active{
    background-image: url("../Images/AboutMe.gif");
}

#contactP{
    background-image: url("../Images/ContactMe.jpg");
}

#contactP:hover, #contactP:active{
    background-image: url("../Images/ContactMe.gif");
}

#gitHubP{
    background-image: url("../Images/SourceC.jpg");
}

#gitHubP:hover, #gitHubP:active{
    background-image: url("../Images/SourceC.gif");
}

#resumeP{
    cursor: pointer;
    background-image: url("../Images/Resume.jpg");
}

#resumeP:hover, #resumeP:active{
    background-image: url("../Images/Resume.gif");
}