.cont {
    width: 100%;
    min-height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    display: grid;
}

.sepRedirector {
    min-height: fit-content !important;
}

.sepRedirector h1 {
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgb(0, 0, 0);
    top: 0;
}

.sepRedirector p {
    word-break: keep-all;
    font-size: 20px;
    text-shadow: 5px 1px 5px rgb(0 0 0);
    font-family: Cabin;
}

.sepRedirector a {
    color: inherit;
}

p {
    user-select: none;
}

h2 {
    font-size: xx-large;
}

.scImg {
    width: 250px;
    height: 300px;
    border-style: double;
    border-color: black;
    border-width: thick;
}

.redirector {
    display: inline-flex;
    padding: 10px 20px;
    min-width: 15vw;
    background-color: #0b2330;
    color: #fff !important;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    outline: 0;
    margin: 12px;
    background-size: 2vw;
    height: 62px;
    transition: .25s;
    opacity: 0.5;
    font-family: 'Anton', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.redirector:hover,
:focus,
:active {
    opacity: 1;
}

.gitButton {
    content: url(../Images/GitHub_Logo.png);
}

.blogButton {
    content: url(../Images/article.svg);
}