.cont{
    width: 100%;
    min-height: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    display: grid;
}

.sepRedirector{
    height: fit-content;
}

.sepRedirector h1{
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgb(0, 0, 0);
    top: 0;
}

.sepRedirector p{
    word-break: keep-all;
    font-size: 20px;
    text-shadow: 5px 1px 5px rgb(0 0 0);
    font-family: Cabin;
}

p{
    user-select: none;
}

h2{
    font-size: xx-large;
}

.scImg{
    width: 250px;
    height: 300px;
    border-style: double;
    border-color: black;
    border-width: thick;
}

.btnGH{
    margin: 12px;
    background: url(../Images/GitHub_Logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 145px;
    height: 62px;
    border: inherit;
    border-color: grey;
    border-radius: 10px;  
}
