@font-face{
    font-family: Monoton;
    src: url("../Fonts/Monoton-Regular.ttf");
}

@font-face{
  font-family: Cabin;
  src: url("../Fonts/Cabin.ttf");
}

html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
  width: 100%;
  min-height: 100%;
  background-color: rgb(18, 18, 18);
  padding-top: 105px;
  padding-bottom: 40px;
  margin: 0;
}

h1{
    user-select: none;
}

div.Footer {
  background-color: #1a242b;
  user-select: none;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
}

div.Footer span{
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgb(0 0 0);
    position: relative;
    font-family: sans-serif;
    font-size: 35px;
}

div.TopBar {
    background-color: #1a242b;
    color: #E39E21;
    width: 100%;
    position: fixed;
    height: 105px;
    top: 0;
    z-index: 1;
}

.HyperLink{
    float: right;
    font-family: sans-serif;
    font-size: 35px;
    text-decoration: none;
    margin-right: 40px;
    top: 30px;
    transition: .3s;
    position: relative;
    color: wheat;
}

.BarLogo{
    width: 75px;
    height: 75px;
    margin: 15px;
    box-shadow: 7px 2px 27px rgb(10, 10, 10);
    border-radius: 30px;
}

.BarName{
    font-family: Monoton;
    font-size: 35px;
    top: -40px;
    left: 15px;
    position: relative;
    user-select: none;
    -webkit-animation: rc 5s infinite linear;
    text-shadow: 10px 1px 5px rgb(0 0 0);
}

@-webkit-keyframes rc {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    
    to {
      -webkit-filter: hue-rotate(360deg);
    }
}

.nsOverlay { 
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgb(26 36 43 / 99%);
    overflow-x: hidden;
    transition: 0.5s;
    font-family: sans-serif;
  }

  .nsOverlayContent {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .nsOverlay a {
    padding: 32px;
    text-decoration: none;
    font-size: 36px;
    color: wheat;
    display: block;
    transition: 0.3s;
    text-shadow: 6px 1px 5px rgb(40, 40, 40);
  }
  
  .nsOverlay a:hover, .nsOverlay a:focus {
    color: #f1f1f1;
  }
  
  .nsOverlay .btnClose {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background: transparent;
    border: none;
    color: grey;
    cursor: pointer;
    transition: .3s;
  }

  .nsOverlay .btnClose:hover {
    color: wheat;
  }

  .nsOverlay .btnClose:active, :focus {
    color: rgb(220, 220, 220);
    border: none;
    outline-width: 0;
  }

  @media screen and (max-height: 450px) {
    .nsOverlay a {font-size: 20px}
    .nsOverlay .btnClose {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  #btnOpenNSMenu{
    float: right;
    margin-top: 19px;
    width: 70px;
    height: 55px;
    margin-right: 25px;
    font-size: 35px;
    text-align: center;
    background-color: transparent;
    color: wheat;
    border: none;
    cursor: pointer;
    transition: .3s;
  }

  #btnOpenNSMenu:hover, :focus, :active{
    color: white;
  }

  .sepRedirector{
    background-color: rgb(25, 25, 25);
    border: groove;
    color: transparent;
    text-align: center;
    transition: .25s;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    height: 150px;
    margin-top: 10px;
    margin: 10px;
    font-family: sans-serif;
    border: double;
    border-style: groove;
    border-color: black;
    background-size: 1280px 715px;
}

    .sepRedirector:hover, :active, :focus{
        color: white;
    }

.sepRedirector h1{
    top: 25%;
    position: relative;
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgb(0, 0, 0);
}